body{
  margin: 0;
  margin-top: 40px;

}

    nav{
      margin: 0;
      background-color: #4CAF50;
      font-size: 30px;
      padding: 8px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.25);
      display: flex;
      justify-content:space-around;
      position: fixed;
      top:0;
      width:100%;
       height:auto;
    }

  a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Bellefair', serif;
  }

  a:hover{
    text-decoration: underline;
  }

  .menu-izquierdo{
    display: flex;
    justify-content:flex-end;
  }


/* home */

  .img-redonda{
    border-radius: 66%;
  }

  .img-contenido{
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: flex-start;
    }

  .img-logo{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
  }

#rocknsie-cover{
  background-image:  url("https://media.redadn.es/imagenes/the-legend-of-zelda-breath-of-the-wild-nintendo-switch-wii-u_316038.jpg");
  background-size: cover;
  width: 100%;
  height: 60vh;
}
#rocknsie-uno{
  background-image:  url("https://cdn02.nintendo-europe.com/media/images/10_share_images/portals_3/SI_Hub_Zelda_Portal_image1600w.jpg");
  background-size: cover;
  width: 100%;
  height: 80vh;
  background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#rocknsie-dos{
  background-image:  url("https://cdn02.nintendo-europe.com/media/images/10_share_images/portals_3/SI_Hub_Zelda_Portal_image1600w.jpg");
  background-size: cover;
  width: 100%;
  height: 80vh;
  background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


/* header */

.rock-menu-container{
  display: flex;
  padding: 40px;
background: #180c0a;
}



.boton-estilos{
  border-radius: 1px;
    width: 130px;
    height: 36px;
    background: #C2185B;
    font-size: 15px;
    box-shadow: 1 1px 3px rgba(0,0,0,0.12);


}

.boton-estilos:hover{
  background: #fff;
  cursor: pointer;
}

.rock-text-menu{
  color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 10px 10px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.25);
    text-align: justify;

}

.img-parallax{
  background-size: cover;
  width: 100%;
  height: 64vh;
}

.linear{
  display: flex;
  justify-content: space-around;
  background: #4CAF50;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Secicon Historia */

.historia {
  font-family: 'Bellefair', serif;
  color: white;
	background: #241919;
	padding: 10px;
}

.title {
  display: flex;
  justify-content: center;
	margin: 0;
}

.page-one {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}

.init {
  margin-right: 0;
  padding: 15px;
	display: flex;
  justify-content: space-around;
}

.intro {
  width: 63%;
}

.era-one {
	display: flex;
}
